/*.bak
/OUTPUT.txt
/.DS_Store
/agreement.code-workspace
/esempio agreement 11 aprile ore 8.zip
/localhost-download-2025-04-05.zip
/questionario-insegnanti-campione-60-ADZ.xlsx
/questionario-insegnanti-campione-60-CM.xlsx
/questionario-insegnanti-campione-60-EN.xlsx
/questionario-insegnanti-campione-60-GA.xlsx
/questionario-insegnanti-campione-60-LF.xlsx
/questionario-insegnanti-campione-60-ML.xlsx
/file-precedenti-prove-da-non-salvare
/file-output-prima-aggiornamento-risposte-GA+LF
