/*.bak
/OUTPUT.txt
/.DS_Store
/agreement.code-workspace
/esempio agreement 11 aprile ore 8.zip
/localhost-download-2025-04-05.zip
/file-precedenti-prove-da-non-salvare
/file-output-prima-aggiornamento-risposte-GA+LF
/prove-clusterizzazioni-GenAI

